<style>
li {
	list-style-type: none;
}

ul {
	list-style-position: inside;
}
</style>

<div class="row" ng-if="uploader">
  <div class="col-md-4">
    <h4>SNOMEDCT Starter Kit</h4>

    <p>Welcome to the SNOMEDCT Starter Kit. Use this page to select release
      files, load SNOMEDCT Snapshot and Delta files into your database, or
      remove SNOMEDCT from your installation.</p>
    <p>To upload Snapshot or Delta data, select a compressed (zip) file
      containing the standard RF2 directory structure, e.g.:
    <ul style="padding-left: 0px;">
      <li>SNOMEDCT.zip

        <ul>
          <li><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;...

          
          <li><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Snapshot
            <ul>
              <li><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Refset
                <ul>
                  <li><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Content</li>
                  <li><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Language</li>
                  <li><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Map</li>
                  <li><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Metadata</li>
                </ul>
              <li><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Terminology</li>
            </ul></li>
          <li><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;...

          
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-md-8" ng-show="!sourceData">

    <div ng-show="isSnomedLoaded" class="alert alert-info">SNOMEDCT is
      loaded in your database! Click the Content tab to browse and search
      SNOMEDCT.</div>

    <h4 ng-show="!isSnomedLoaded">Upload SNOMEDCT Snapshot Files</h4>
    <h4 ng-show="isSnomedLoaded">Upload SNOMEDCT Delta Files</h4>

    <input type="file" nv-file-select="" uploader="uploader" />



  </div>
  <div class="col-md-8"
    ng-show="sourceData && (!sourceData.status || sourceData.status === 'NEW')">
    <h4>Review Files</h4>
    <button class="btn btn-primary btn-sm" style="margin-left: 20px;"
      ng-click="loadData()">Load</button>
    <div class="pull-right">
      <input type="checkbox" ng-model="showFullPath"> Show Full Paths
    </div>
    <table ng-table="tpSourceDataFiles" class="table"
      ng-show="sourceData.sourceDataFiles.length > 0">
      <tr ng-repeat="item in $data">
        <td data-title="'Name'" sortable="'name'" stye="word-break: break-all;">{{showFullPath
          ? getFilePath(item) : item.name}}</td>
        <td data-title="'Size'" sortable="'size'">{{item.size/1024/1024|number:2
          }} MB</td>
      </tr>
    </table>
  </div>
  <div class="col-md-8" ng-show="sourceData.status === 'LOADING'">
    <h4>Activity Log: {{getHumanText(polls[sourceData.id].status)}}</h4>
    <div id="activityLog" class="well well-md"
      style="overflow-y: auto; max-height: 350px;">
      <span ng-show="!polls[sourceData.id].logEntries"> Retrieving
        activity log.... </span>
      <pre>{{polls[sourceData.id].logEntries}}</pre>
    </div>
    <button
      confirm="Interrupting load may require clearing database and reloading Snapshot data. Proceed anyway?"
      class="btn btn-warning btn-md" ng-click="cancel()">Cancel</button>

  </div>
  <div class="col-md-8" ng-show="sourceData.status === 'LOADING_FAILED'">
    <h4>Problem Detected: {{getHumanText(sourceData.status)}}</h4>
    <p>The last load either failed or was cancelled. Click one of the
      buttons below to attempt reloading or to clear the database and try again.</p>

    <button class="btn btn-primary btn-md"
      confirm="Are you sure you want to clear your database?"
      ng-click="loadData()">Attempt Reload</button>
    <button class="btn btn-danger btn-md pull-right" ng-click="destroy()">Clear
      Database</button>
    <hr>
    <p>The source files used for the failed load are shown below</p>
    <div class="pull-right">
      <input type="checkbox" ng-model="showFullPath"> Show Full Paths
    </div>
    <table ng-table="tpSourceDataFiles" class="table"
      ng-show="sourceData.sourceDataFiles.length > 0">
      <tr ng-repeat="item in $data">
        <td data-title="'Name'" sortable="'name'" stye="word-break: break-all;">{{showFullPath
          ? getFilePath(item) : item.name}}</td>
        <td data-title="'Size'" sortable="'size'">{{item.size/1024/1024|number:2
          }} MB</td>
      </tr>
    </table>
  </div>
</div>

